.form-container{
    padding: 0rem;
    width: 1%; 
    border-radius: 0.5rem;
}

.btn-login-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}

.screen-from {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}    

.bg-numeros{
    background-image: url(./numeros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
}